.show_page
  .image_show
    %p= image_tag @women_inventory.image.url, class: "pic"
  %h3
    %b= @women_inventory.description
  %p= @women_inventory.cost
  %br
  %br
  =form_tag add_to_cart_store_women_shirt_path(@women_inventory,params[:quantity]) do
    =label_tag :quantity
    =number_field_tag :quantity
    %br/
    =submit_tag "Add to cart" , class: "btn btn-primary cart"





