%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    =link_to "TKART", root_path, id: "logo"
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Home", "#"
      %li= link_to "Shop", "#"
      %li= link_to "About Us", "#"

